<!DOCTYPE html>
<head>
  <title>Weather details in your location!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <style type="text/css">
    .container {
    width: 100%;
    margin: 0 0;
    }
  </style>
</head>
<html>
  <body>
    <div class="container">
    <dl>
    {% for key,value in weatherdata.iteritems() %}
    <dt>{{ key|e }}</dt>
    <dd>{{ value|e }}</dd>
  {% endfor %}
    </dl>
    </div>
  </body>
</html>
